<!DOCTYPE html>
<html>
<head>
    <title>Index page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="banner">
    <div class="navbar">
        <ul>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">Home</a></li>
            <li> <a href="#">Home</a></li>

        </ul>

    </div>
    <div class="content">
       <h1>MED-REC</h1> 
       <div>
        <button type="button"><span></span> LOGIN </button>
        <button type="button"><span></span> SIGNUP </button>
       </div>
    </div>
    </div>
</body>
</html>
